<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>		 
	</configSections>
	<connectionStrings>
		<add name="CONNECTION_STRING_NON_DTC" connectionString="Server=.\SQLExpress;Database=hc;User ID=sa;Password=tech@123AA" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<log4net>
		<!-- err 日志 begin -->
		<appender name="error" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="log/err.txt"/>
			<param name="AppendToFile" value="true"/>
			<datePattern value="yyyyMMdd"/>
			<param name="RollingStyle" value="Date"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m %d [%t] %n"/>
			</layout>
		</appender>
		<logger name="error">
			<level value="INFO"/>
			<appender-ref ref="error"/>
		</logger>
		<!-- err 日志 end -->
		<!-- deal 日志 begin -->
		<appender name="deal" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="log/deal.txt"/>
			<param name="AppendToFile" value="true"/>
			<datePattern value="yyyyMMdd"/>
			<param name="RollingStyle" value="Date"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m %d [%t] %n"/>
			</layout>
		</appender>
		<logger name="deal">
			<level value="INFO"/>
			<appender-ref ref="deal"/>
		</logger>
		<!-- deal 日志 end -->
		<!-- noti 日志 begin -->
		<appender name="noti" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="log/noti.txt"/>
			<param name="AppendToFile" value="true"/>
			<datePattern value="yyyyMMdd"/>
			<param name="RollingStyle" value="Date"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%m %d [%t] %n"/>
			</layout>
		</appender>
		<logger name="noti">
			<level value="INFO"/>
			<appender-ref ref="noti"/>
		</logger>
		<!-- noti 日志 end -->
	</log4net>
</configuration>